.add-form{
    max-width: 800px;
    margin: 0 auto;
}

.add-form h1{
    text-align: center;
    margin: 20px;
}

.add-form>label{
    display: block;
    margin: 25px auto;
    font-weight: 600;
    width: 90%;
}

.add-form input,textarea{
    position: relative;
    display: block;
    width: 100%;
    margin-left: -6.6px;
    padding: 5px;
}

.add-form>button{
    display: block;
    padding: 15px;
    width: 90%;
    margin: 0 auto;
}